<div class="page-header">
  <%= link_to trips_path, class: 'btn btn-default' do %>
    All Trips
  <% end %>
  <%= link_to edit_trip_path(@trip), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show trip</h1>
</div>

<dl class="dl-horizontal">
</dl>
