<div class="page-header">
  <%= link_to stops_path, class: 'btn btn-default' do %>
    All Stops
  <% end %>
  <%= link_to edit_stop_path(@stop), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show stop</h1>
</div>

<dl class="dl-horizontal">
</dl>
